<h1> Edit Product</h1>

<%= form_for @product, url: admin_product_path(id: @product.id), method: :put do |f| %>

<%= f.label :item_name %><br>
<%= f.text_field :item_name%>

<br>
<br>

<%= f.label :price %><br>
<%= f.text_field :price %>
<br>
<br>
<%= f.label :quantity %><br>
<%= f.text_field :quantity %>

<br>
<br>

<%= f.label :image %><br>
<%= f.file_field :image %>

<br>
<br>

<%=f.submit %>

<% end %>