<div class="wrapper">

<%= form_for @carted_product, url: product_carted_product_path(product_id: @carted_product.product_id), method: :put do |f| %>

	<p><%= @carted_product.product.item_name %></p>
	<p><%= @carted_product.product.price %></p>
	<p><%= @carted_product.quantity %></p>
  	<%= f.text_field :quantity %>
  	<%= f.submit "Update" %>
<% end %>

<br>

<%= link_to "Carted_Product_index", carted_products_path %></br>

</div>