<%= form_for @prod do |f| %>
 <% if @prod.errors.any? %>
 <h2><%= pluralize(@prod.errors.count, "error")%> prevented this post from saving:</h2>
 <ul>
   <% @prod.errors.full_messages.each do |msg| %>
   <li><%= msg %></li>
   <%end%>
 </ul>
 <% end %>

<%= f.label :item_name %><br>
<%= f.text_field :item_name%>

<br>
<br>

<%= f.label :price %><br>
<%= f.text_field :price %>
<br>
<br>
<%= f.label :quantity %><br>
<%= f.text_field :quantity %>

<br>
<br>
<%=f.submit %>




<% end %>
