<div class="wrapper">
  <h1>index</h1>

  <div class="container products-sale">
    <div class="row">
      <% @products.each do |product| %> 
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-img-top">
            <%=image_tag product.image, class:"product-image-for-sale"%>
            </div>
            <div class="card-block">
              <h4 class="card-title"><%= product.item_name %></h4>
              <p class="card-text">Price = $<%= product.price %></p>
              <p class="card-text">Quantity = <%= product.quantity %></p>

              <%= form_for @carted_product, url: product_carted_products_path(product_id: product.id), method: :post do |f| %>
                <p class="products-index-quantity">
                  <span class="add-quantity">Add Quantity</span>
                  <span class="add-quantity">
                  <%= f.number_field :quantity, value: 1, class: "form-control change-quantity", min: 1 %>
                  </span>
                </p>
                <p class="products-index-submit">
                  <%= f.submit "Add to Cart" %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
    <%= link_to "View My Cart", carted_products_path %>
</div>